html {
  --main_color: #04aa6d;
  --background_color: #c8c8c8;
  --border_styling: 2px solid #9763f6;
}

p {
  border-bottom: var(--border_styling);
  color: var(--main_color);
}

body {
  background-color: var(--background_color);
}

h1 {
  border-bottom: var(--border_styling);
}